*.dat
libdistance-0.2.1
build
*.pyc
logfile
*.*~
*.o
*.so
*.py.*
*.*gz
.#*
*.*#
*.json
examples/output/*.*
examples/csv_example/csv_example_output.csv
*output.csv
examples/mysql_example/*.txt*
*.db
kernprof.py
possible_classifiers
.DS_Store
mysql.cnf
*settings
Dedupe.egg-info/
ENV
distpgsql_init_db.py
pgsql_example/pgsql_init_db.py
.idea
# Ignore environment files
pgsql_big_dedupe_example/.env

# Ignore data files
pgsql_big_dedupe_example/Illinois-campaign-contributions.csv
pgsql_big_dedupe_example/Illinois-campaign-contributions.txt
pgsql_big_dedupe_example/Illinois-campaign-contributions.txt.zip
pgsql_big_dedupe_example/__MACOSX/

# Ignore Python virtual environment
venv/

